// Size
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 120%;

$desktopWidth: 1760px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 380px;

// Main color
$brand-black: #17171a;
$brand-primary: #ddcfc6;
$brand-gray: #a0a0a0;

// Font
$mainFont: "Gilroy";
$mainFontColor: $brand-black;

@mixin pruning($c) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $c;
  -webkit-box-orient: vertical;
  line-clamp: $c;
  box-orient: vertical;
}
