// тк мы к ним обращаемся везде ниже
@import "fonts.scss";
@import "utils/reset";
@import "utils/vars";
@import "vendors/vendors";

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}

/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
  display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
  display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
  display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
  display: none;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 4px; /* ширина для вертикального скролла */
  height: 4px; /* высота для горизонтального скролла */
  background-color: #c2c2c2;
  border-radius: 4px;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #17171a;
  border-radius: 9em;
  // box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

$index: calc(1vw + 1vh);

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  background-size: cover;
  background-position: center top;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.hidden {
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: $smDesktopWidth) {
    // max-width: $tableWidth;
  }

  @media screen and (max-width: $tableWidth) {
    // max-width: 98%;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }

  &.small {
    max-width: 936px;
  }
}

@import "./common.scss";

.section-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 15px;
}

.header__logo,
.footer__logo {
  width: 220px;
  height: 65px;
  img {
    height: 100%;
    width: auto;
    object-fit: contain;
    object-position: left;
  }
}

.header__wrapper {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  .header__phone {
    margin-right: 60px;
    margin-left: auto;
    a {
      font-size: 24px;
      color: $brand-black;
    }
  }
  @media (max-width: 576px) {
    margin-bottom: 40px;
  }
}
.header__menu-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 14px;
  color: #515151;
  .burger-btn {
    transition: border-color 0.3s ease-in-out;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #c2c2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    span {
      transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out,
        transform 0.3s ease-in-out;
      background-color: #515151;
      border-radius: 2px;
      width: 16px;
      height: 1px;
    }
  }

  &:hover {
    .burger-btn {
      border-color: #17171a;
      span {
        background-color: #17171a;
      }
    }
  }

  &.active {
    .burger-btn {
      border-color: #17171a;
      span {
        width: 24px;
        background-color: #17171a;
      }
      span:nth-of-type(1) {
        transform: translateY(1px) rotate(-45deg);
      }
      span:nth-of-type(2) {
        transform: translateY(-2px) rotate(45deg);
      }
    }
  }
}
.main-section {
  padding-bottom: 90px;
}

.main-title {
  margin: auto;
  color: $brand-black;
  font-weight: 300;
  font-size: 64px;
  line-height: 100%;
  margin-bottom: 20px;
}
.main-title,
.main-descr {
  text-align: center;
  max-width: 855px;
}

.main-descr {
  margin: auto;
  font-size: 24px;
  margin-bottom: 60px;
  color: $brand-gray;
  line-height: 120%;
}

.main-section__cats {
  justify-content: center;
  margin-right: -20px;
  margin-left: -20px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  display: flex;
  gap: 16px;
  align-items: center;
  // overflow: auto;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.cats__btn {
  overflow-x: auto;
  flex-shrink: 0;
  font-weight: 500;
  padding: 16px 32px;
  border: 1px solid #a0a0a0;
  border-radius: 50px;
  color: #a0a0a0;
  transition: color 0.3s ease-in-out;
  &.active {
    color: #17171a;
    border: 1px solid #f6a016;
  }
  &:hover {
    color: #17171a;
  }
}

.galery-grid {
  margin-right: -10px;
  @media (max-width: 768px) {
    margin-right: 0;
  }
}

.galery-item {
  width: calc(33.33% - 10px);
  margin-bottom: 10px;
  height: 0;
  overflow: hidden;
  &:hover {
    .galery-item__wrapper::before {
      transform: translateY(0);
      opacity: 1;
    }
    img {
      transform: scale3d(1.1, 1.1, 1);
    }
    .galery-item__content {
      transform: translateY(0);
    }
    .galery-item__btn {
      opacity: 1;
    }
  }
  &.vertical {
    padding-top: 52.85%;
  }
  &.horizontal {
    padding-top: 20.65%;
  }

  .galery-item__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(160, 160, 160, 0.5);
    &::before {
      transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
      opacity: 0;
      transform: translateY(100%);
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 100%
      );
    }
  }

  .galery-item__content {
    transition: transform 1s ease-in-out 0.2s;
    transform: translateY(100%);
    color: #ffffff;
    padding: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.8s ease-in-out;
    will-change: transform;
  }

  .galery-item__btn {
    opacity: 0;
    z-index: 4;
    border: 1px solid #ffffff;
    border-radius: 50px;
    width: 132px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
    &:hover {
      background-color: #fff;
      svg {
        path {
          fill: #000;
        }
      }
    }
    svg path {
      transition: fill 0.5s ease-in-out;
    }
  }

  @media (max-width: 1366px) {
    width: calc(50% - 10px);
    &.vertical {
      padding-top: 78.1%;
    }
    &.horizontal {
      padding-top: 30.65%;
    }
  }
}

.styles-btn-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.styles-btn {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-image: linear-gradient(15deg, $brand-black 50%, transparent 50%),
    linear-gradient(165deg, $brand-black 50%, transparent 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    content: "";
    width: 258px;
    height: 258px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 1;
    transition: background-color 0.5s ease-in-out, width 0.4s ease-in-out,
      height 0.4s ease-in-out;
  }

  &::after {
    position: absolute;
    content: "";
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='66' height='9' viewBox='0 0 66 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 4C0.723858 4 0.5 4.22386 0.5 4.5C0.5 4.77614 0.723858 5 1 5V4ZM65.3536 4.85355C65.5488 4.65829 65.5488 4.34171 65.3536 4.14645L62.1716 0.964466C61.9763 0.769204 61.6597 0.769204 61.4645 0.964466C61.2692 1.15973 61.2692 1.47631 61.4645 1.67157L64.2929 4.5L61.4645 7.32843C61.2692 7.52369 61.2692 7.84027 61.4645 8.03553C61.6597 8.2308 61.9763 8.2308 62.1716 8.03553L65.3536 4.85355ZM1 5H65V4H1V5Z' fill='%23343A45'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 64px;
    height: 7px;
    z-index: 2;
    transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out;
    will-change: auto;
  }

  .btn-text {
    position: relative;
    z-index: 2;
    color: $brand-black;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    transition: color 0.5s ease-in-out;
    text-align: center;
    will-change: transform;
  }

  &:hover {
    &::after {
      opacity: 0;
      right: -100px;
    }
    &::before {
      background-color: $brand-black;
      width: 101%;
      height: 101%;
    }
    .btn-text {
      color: #fff;
    }
  }
}

.work-steps {
  padding-top: 150px;
  padding-bottom: 75px;
}

.work-steps__list {
  flex-wrap: wrap;
  margin-top: 15px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  .work-step {
    padding: 5px;
    width: 25%;
  }
  .work-step__wrapper {
    background-color: #fff;
    height: 100%;
    border: 1px solid #ebebeb;
    padding: 60px 30px;
    transition: border-color 0.5s ease-in-out;
    &:hover {
      border-color: #17171a;
    }
  }
  .number {
    color: #a0a0a0;
    font-weight: 300;
    font-size: 64px;
    line-height: 100%;
    margin-bottom: 20px;
  }

  .work-step__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: $brand-black;
    margin-bottom: 10px;
  }

  .work-step__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #515151;
  }
}

.price__list {
  margin-top: 30px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;

  .list-item {
    width: 25%;
    padding: 5px;
  }
  .list-item__wrapper {
    border: 1px solid #ebebeb;
    background-color: #fff;
    padding: 60px 30px;
  }
  .list-item__title {
    line-height: 120%;
    font-size: 24px;
    margin-bottom: 30px;
  }

  .list-item__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: border-color 0.5s ease-in-out;
    &:hover {
      border-color: #17171a;
    }
  }
}
.list-item__point {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  &:before {
    flex-shrink: 0;
    margin-right: 8px;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.16613 11.775C4.71195 11.7752 4.27638 11.5947 3.9555 11.2733L0.295374 7.6145C-0.098458 7.22054 -0.098458 6.58193 0.295374 6.18797C0.689332 5.79414 1.32794 5.79414 1.72189 6.18797L5.16613 9.63221L14.2781 0.520227C14.6721 0.126396 15.3107 0.126396 15.7046 0.520227C16.0985 0.914185 16.0985 1.55279 15.7046 1.94675L6.37675 11.2733C6.05587 11.5947 5.6203 11.7752 5.16613 11.775Z' fill='%2317171A'/%3e%3c/svg%3e ");
  }
  &.not-included {
    color: #c2c2c2;
    &::before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_3203_1149)'%3e%3cpath d='M9.41441 8.00022L15.7075 1.70782C16.0981 1.31718 16.0981 0.683833 15.7075 0.293224C15.3169 -0.0974159 14.6835 -0.0974159 14.2929 0.293224L8.00046 6.58628L1.70807 0.293224C1.31743 -0.0974159 0.684077 -0.0974159 0.293468 0.293224C-0.0971405 0.683865 -0.0971718 1.31721 0.293468 1.70782L6.58652 8.00022L0.293468 14.2926C-0.0971718 14.6833 -0.0971718 15.3166 0.293468 15.7072C0.684109 16.0979 1.31746 16.0979 1.70807 15.7072L8.00046 9.41416L14.2929 15.7072C14.6835 16.0979 15.3169 16.0979 15.7075 15.7072C16.0981 15.3166 16.0981 14.6833 15.7075 14.2926L9.41441 8.00022Z' fill='%23C2C2C2'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_3203_1149'%3e%3crect width='16' height='16' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
    }
  }
}

.list-item__link {
  margin-bottom: 30px;
  color: $brand-black;
  width: fit-content;
  text-decoration: underline;
  margin-top: auto;
}

.list-item__list {
  margin-bottom: 60px;
}

.list-item__price {
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 120%;
  b {
    display: inline;
  }
}
.list-item__btn {
  width: 100%;
  padding: 24px;
  border-radius: 50px;
  border: 1px solid #17171a;
  font-weight: 500;
  line-height: 100%;
  color: $brand-black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-radius 0.3s ease, color 0.3s ease,
    background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
  &:active {
    transform: translateY(2px);
  }
  &:hover {
    border-radius: 4px;
  }
}

.faq,
.price {
  padding: 75px 0;
}

.faq__wrapper {
  margin: auto;
  max-width: 855px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.faq__list {
  width: 100%;
  padding-top: 30px;
}
.faq__item {
  .faq__item-wrap {
    transition: border-color 0.5s ease-in-out;
    border: 1px solid #ebebeb;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  &:hover .faq__item-wrap {
    border-color: #17171a;
  }
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
  &.open .faq__item-wrap {
    border-color: #17171a;
    .item__head:after {
      transform: rotate(180deg);
    }
  }
  .item__body {
    display: none;
  }
  .item__head {
    cursor: pointer;
    padding: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 24px;
    &:after {
      transition: transform 0.5s ease-in-out;
      display: block;
      content: "";
      width: 22px;
      height: 22px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='23' height='14' viewBox='0 0 23 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.590625 1.08816C0.173187 1.26997 -0.0598124 1.74491 0.0282501 2.2346C0.0656876 2.44278 0.654313 3.05285 5.30081 7.69941C9.94738 12.3459 10.5574 12.9345 10.7656 12.972C11.3584 13.0786 11.0141 13.3845 16.6992 7.69941C22.3827 2.01591 22.0806 2.35578 21.9705 1.76891C21.9128 1.46128 21.5389 1.08741 21.2313 1.02972C20.6469 0.920033 20.9411 0.661533 15.7654 5.8321L10.9996 10.5933L6.26544 5.8621C3.61394 3.21228 1.45387 1.10216 1.35531 1.0656C1.11994 0.978158 0.823062 0.986908 0.590625 1.08816Z' fill='%23515151'/%3e%3c/svg%3e ");
    }
  }
  .item__body {
    padding: 30px;
    padding-top: 0;
  }
}

.contacts {
  padding: 75px 0;
  .section-descriptor {
    margin-bottom: 60px;
  }
}
.contacts__block {
  margin-bottom: 30px;
}
.block-nameplate {
  margin-bottom: 10px;
  color: #515151;
}
.block-link {
  &:hover {
    text-decoration: underline;
  }
  color: #17171a;
  width: fit-content;
}

.contacts__content {
  width: 50%;
}

.social-block {
  display: flex;
}

.social-item {
  &:hover {
    border-color: #17171a;
    svg {
      filter: contrast(200%);
    }
  }
  transition: border-color 0.2s ease-in-out;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid #c2c2c2;
  border-radius: 50%;
  svg {
    transition: filter 0.2s ease-in-out;
    width: 16px;
    height: 16px;
  }
}

.contacts {
  position: relative;
  padding-bottom: 0;
}

.contacts__wrap {
  position: absolute;
  left: 0;
  top: 75px;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map-container {
  margin-left: auto;
  width: 50%;
  background-color: rgb(153, 147, 147);
  height: 600px;
}

.form-section {
  position: relative;
  background: #17171a;
  padding: 150px 0;

  .section-title {
    color: #fff;
  }
}

.footer {
  background: #17171a;
  padding: 30px;
  color: #fff;
}

.footer__wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.footer__item {
  &:nth-of-type(1) {
    justify-content: flex-start;
  }
  &:nth-of-type(2) {
    justify-content: center;
  }
  &:nth-of-type(3) {
    justify-content: flex-end;
  }
  flex: 0 0 33.33%;
  display: flex;
  align-items: center;
}

.to-top-btn {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  svg {
    transition: transform 0.3s ease-in-out;
  }
  &:hover {
    svg {
      transform: translateY(-5px);
    }
  }
}

.vertical-line {
  height: 47px;
  width: 1px;
  background-color: #a0a0a0;
  margin: 0px 30px;
}

.mega-menu__title {
  font-weight: 300;
  font-size: 48px;
  line-height: 100%;
}

.mega-menu-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.mega-menu {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &.show {
    opacity: 1;
    transform: translate(0%, 0%) scale(1);
  }
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  transform: translate(130%, 0%) scale(1.3);
  opacity: 0.5;
  box-shadow: -4px 0px 8px 0px rgba(34, 60, 80, 0.1);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 667px;
  width: 100%;
  background-color: #fff;
  z-index: 20;
  padding: 38px 80px;
  .menu-item {
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    width: fit-content;
    position: relative;
    &:before {
      transition: opacity 0.2s ease-in-out;
      opacity: 0;
      content: "";
      position: absolute;
      left: 0;
      bottom: 5px;
      height: 2px;
      width: 100%;
      background-color: #17171a;
    }
    a {
      width: fit-content;
      color: #17171a;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
  .mega-menu__footer {
    margin-top: auto;
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .social-item {
      margin-right: 0;
      margin-left: 10px;
    }
  }

  .mega-menu__nav {
    margin-bottom: 30px;
  }
}

.show-form-btn {
  width: 80px;
  height: 80px;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 150px;
  z-index: 10;
  background: #17171a;
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: #fff;

  &:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5622 0.0665499C8.86825 0.246675 6.89494 0.938862 5.4875 1.84667C0.878125 4.8198 -1.12462 10.4816 0.635688 15.5625C1.11544 16.9472 1.19913 17.2234 1.3175 17.8125C1.70144 19.7232 1.45731 21.7209 0.598375 23.6978C0.561063 23.7837 0.616375 23.8162 0.917188 23.8853C1.45556 24.0088 2.81375 23.9909 3.28119 23.8542C4.09388 23.6164 4.75438 23.2664 5.32875 22.7693C5.70019 22.4478 5.97256 22.3125 6.24844 22.3125C6.35294 22.3125 6.76869 22.4515 7.17238 22.6212C8.56425 23.2067 9.84325 23.4873 11.3749 23.5432C16.508 23.7305 21.0053 20.7689 22.8531 15.9845C23.1071 15.3267 23.3921 14.1877 23.5061 13.375C23.6332 12.4695 23.6044 10.7485 23.4477 9.87505C23.0159 7.46899 21.9659 5.39599 20.2923 3.64536C17.7781 1.01542 14.1585 -0.315888 10.5622 0.0665499ZM25.5878 9.51567C25.7633 10.6937 25.8019 12.2154 25.6838 13.2994C25.0082 19.5017 20.317 24.478 14.1562 25.5274C13.1865 25.6926 11.8521 25.7595 10.9296 25.6891C10.4699 25.654 10.0699 25.6253 10.0409 25.6252C9.95813 25.625 10.2873 26.1625 10.768 26.8125C11.3413 27.5877 12.3705 28.6131 13.1681 29.2038C16.6194 31.7594 21.1151 32.2721 25.0169 30.555C25.8147 30.204 26.0853 30.2299 26.6533 30.7116C27.9061 31.7739 29.4058 32.1953 30.9099 31.9075C31.1757 31.8567 31.4083 31.8001 31.4265 31.7818C31.4448 31.7635 31.3991 31.6012 31.3249 31.4212C30.81 30.1717 30.6234 29.2973 30.5816 27.9375C30.5407 26.6069 30.6573 25.8014 31.0838 24.4649C31.458 23.2925 31.5961 22.7778 31.7451 22C32.2615 19.304 31.9834 16.957 30.8726 14.6384C30.0661 12.9545 28.9811 11.5992 27.5372 10.4717C27.0019 10.0537 25.7334 9.25005 25.6089 9.25005C25.573 9.25005 25.5644 9.35836 25.5878 9.51567ZM6.2305 10.3026C6.62988 10.5064 6.85556 10.7292 7.03594 11.0979C7.185 11.4025 7.20019 11.493 7.17469 11.9232C7.1425 12.4665 7.04381 12.702 6.70756 13.0382C6.37831 13.3675 5.98938 13.5232 5.49994 13.5219C5.01688 13.5205 4.73438 13.4109 4.37206 13.0842C3.70744 12.485 3.62519 11.4819 4.18262 10.7732C4.65012 10.1789 5.5725 9.96699 6.2305 10.3026ZM12.5078 10.2957C13.6085 10.7827 13.8398 12.2734 12.9403 13.0842C12.578 13.4109 12.2955 13.5205 11.8124 13.5219C11.1069 13.5239 10.4539 13.0933 10.2154 12.469C10.0483 12.0313 10.1074 11.3508 10.3463 10.9627C10.5413 10.6459 10.9878 10.2967 11.3353 10.1894C11.6167 10.1025 12.1881 10.1543 12.5078 10.2957ZM18.6191 10.2229C19.0891 10.3624 19.5774 10.8471 19.7128 11.3083C19.7676 11.495 19.8124 11.736 19.8124 11.8438C19.8124 12.1867 19.6351 12.6532 19.4006 12.9272C18.506 13.9722 16.8501 13.6024 16.4631 12.2711C16.164 11.2424 16.9816 10.1506 18.0667 10.1294C18.1894 10.127 18.4379 10.169 18.6191 10.2229Z' fill='white'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    transition: transform 0.3s ease-in-out;
    animation: pulse 4s ease-in-out infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.fixed-form {
  &.show {
    transform: translateX(0);
    opacity: 1;
  }
  transform: translateX(100%);
  opacity: 0.5;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  box-shadow: -4px 0px 8px 0px rgb(34 60 80 / 10%);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 667px;
  width: 100%;
  background-color: #17171a;
  z-index: 10;
  .section-title {
    color: #fff;
  }

  .fixed-form__wrapper {
    padding: 100px 60px 60px 60px;
    height: 100%;
  }

  .close-show-form {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 34px;
    height: 34px;
    padding: 5px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.1209 12.0005L23.5605 2.56186C24.1465 1.9759 24.1465 1.02587 23.5605 0.439959C22.9745 -0.146002 22.0245 -0.146002 21.4386 0.439959L12 9.87954L2.56137 0.439959C1.97541 -0.146002 1.02538 -0.146002 0.43947 0.439959C-0.146443 1.02592 -0.14649 1.97594 0.43947 2.56186L9.87905 12.0005L0.43947 21.4391C-0.14649 22.0251 -0.14649 22.9751 0.43947 23.561C1.02543 24.1469 1.97545 24.147 2.56137 23.561L12 14.1214L21.4386 23.561C22.0245 24.147 22.9745 24.147 23.5605 23.561C24.1464 22.975 24.1464 22.025 23.5605 21.4391L14.1209 12.0005Z' fill='white'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
  }

  .fixed-form__success {
    opacity: 0;
    visibility: hidden;
    &.show {
      opacity: 1;
      visibility: visible;
    }
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
  }
  .fixed-form-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.form-section__success {
  opacity: 0;
  visibility: hidden;
  &.show {
    opacity: 1;
    visibility: visible;
  }
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  .section-title {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 48px;
    line-height: 100%;
  }
  .form-section__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .form-section__success-text {
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .galery-item::before {
    opacity: 0.5;
    transform: translate(0);
  }
  .galery-item .galery-item__content {
    transform: translate(0);
  }

  .galery-item__btn {
    display: none;
  }
  .header__phone {
    display: none;
  }
  .mega-menu {
    padding: 30px;
  }
  .galery-item {
    width: 100%;
  }

  .galery-item.vertical {
    padding-top: 160.1%;
  }

  .galery-item.horizontal {
    padding-top: 62.5%;
  }

  .footer__wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .footer__item {
    justify-content: center !important;
  }
  .footer__item:nth-of-type(2) {
    order: -1;
  }
  .work-steps__list .work-step,
  .price__list .list-item {
    width: 100%;
  }

  .main-title {
    font-size: 36px;
  }
  .main-descr {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1366px) {
  .work-steps__list .work-step,
  .price__list .list-item {
    width: 33.333%;
  }
}

@media (max-width: 1200px) {
  .footer__descriptor,
  .vertical-line,
  .dev-text {
    display: none;
  }
  .work-steps__list .work-step,
  .price__list .list-item {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .main-section__cats {
    padding-right: 20px;
    padding-left: 20px;
    justify-content: flex-start;
  }

  .main-title {
    font-size: 48px;
  }
}

@media (max-width: 380px) {
  .main-section__cats {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: -10px;
    margin-left: -10px;
  }
}

@media (max-width: 576px) {
  .section-title {
    font-size: 32px;
    line-height: 100%;
  }
  .main-section {
    padding-bottom: 0px;
  }
  .form-section {
    padding: 40px 0;
  }
  .work-steps {
    padding: 40px 0;
  }
  .faq,
  .price {
    padding: 40px 0;
  }
  .contacts {
    padding-top: 40px;
  }
  .faq__item .item__head {
    font-size: 18px;
  }

  .show-form-btn {
    bottom: 30px;
    right: 20px;
    width: 60px;
    height: 60px;
    &:before {
      background-size: 25px;
    }
  }
}

@media (max-width: 992px) {
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .contacts__wrap {
    position: static;
  }
  .map-container,
  .contacts__content {
    width: 100%;
  }
  .contacts__content {
    text-align: center;
  }
  .block-link {
    margin: auto;
  }
  .social-block {
    justify-content: center;
  }
  .contacts .section-descriptor {
    margin-bottom: 30px;
  }
}

@media (max-width: 1720px) {
  .mega-menu {
    padding: 38px 20px;
  }
}

.inner-head__wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
}

.inner-head__title {
  font-weight: 300;
  font-size: 64px;
  line-height: 100%;
  margin-bottom: 30px;
}

.inner-head__tags,
.inner-head__info {
  flex: 0 0 50%;
}
.inner-head__info {
  padding-right: 50px;
}

.inner-head__descr {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #515151;
}

.inner-head__tags {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.inner-head__tag {
  flex-shrink: 0;
  padding: 8px 16px;
  border: 1px solid #17171a;
  border-radius: 32px;
}

.inner-galery {
  overflow: hidden;
}

.inner-galery__grid {
  margin-right: -10px;
  margin-bottom: 50px;
  @media (max-width: 576px) {
    margin-right: 0;
  }
}

.inner-galery__item {
  cursor: pointer;
  height: 0;
  margin-bottom: 10px;
  // transition: transform 0.3s ease-in-out;
  &.large {
    padding-top: 28.6%;
    width: calc(50% - 10px);
    @media (max-width: 576px) {
      width: 100%;
      padding-top: 56.4%;
    }
  }
  &.small {
    padding-top: 14%;
    width: calc(25% - 10px);
    @media (max-width: 992px) {
      width: calc(50% - 10px);
      padding-top: 28.6%;
    }
    @media (max-width: 576px) {
      width: 100%;
      padding-top: 56.4%;
    }
  }
  &:hover {
    .image-container img {
      transform: scale3d(1.02, 1.02, 1);
    }
  }

  .image-container {
    box-shadow: 0px 0px 10px rgba(21, 38, 61, 0.3);
    background-color: rgba(160, 160, 160, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      will-change: transform;
      transition: transform 0.5s ease-in-out;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media (max-width: 1280px) {
  .inner-head__wrapper {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .inner-head__info {
    padding-right: 0;
    margin-bottom: 30px;
  }
}

.project-nav {
  padding: 1px;
  margin-bottom: 37px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.nav-btn-wrap {
  flex: 1 0 50%;
}
.project-nav__prev,
.project-nav__next {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  flex: 1 0 50%;
  color: #17171a;
  border: 1px solid #17171a;
  padding: 31px 64px;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  &:hover {
    background-color: #17171a;
    color: #fff;
  }
}
.project-nav__next {
  margin-left: -1px;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 45px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.56594 20.307C7.70229 20.6201 8.0585 20.7949 8.42576 20.7288C8.5819 20.7007 9.03945 20.2593 12.5244 16.7744C16.0092 13.2895 16.4507 12.8319 16.4788 12.6758C16.5588 12.2312 16.7882 12.4895 12.5244 8.22561C8.26175 3.96298 8.51665 4.18953 8.0765 4.27212C7.84578 4.31539 7.56537 4.5958 7.52211 4.82652C7.43984 5.26484 7.24597 5.04416 11.1239 8.92592L14.6948 12.5003L11.1464 16.0509C9.15903 18.0395 7.57644 19.6596 7.54901 19.7335C7.48344 19.91 7.49 20.1327 7.56594 20.307Z' fill='%23515151'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  &:hover::after {
    filter: invert(1);
    transform: translateY(-50%) translateX(5px);
  }
}

.project-nav__prev {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    left: 45px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.56594 20.307C7.70229 20.6201 8.0585 20.7949 8.42576 20.7288C8.5819 20.7007 9.03945 20.2593 12.5244 16.7744C16.0092 13.2895 16.4507 12.8319 16.4788 12.6758C16.5588 12.2312 16.7882 12.4895 12.5244 8.22561C8.26175 3.96298 8.51665 4.18953 8.0765 4.27212C7.84578 4.31539 7.56537 4.5958 7.52211 4.82652C7.43984 5.26484 7.24597 5.04416 11.1239 8.92592L14.6948 12.5003L11.1464 16.0509C9.15903 18.0395 7.57644 19.6596 7.54901 19.7335C7.48344 19.91 7.49 20.1327 7.56594 20.307Z' fill='%23515151'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  &:hover::after {
    filter: invert(1);
    transform: translateY(-50%) rotate(180deg) translateX(5px);
  }
}

@media (max-width: 1380px) {
  .project-nav__prev,
  .project-nav__nextm,
  .nav-btn-wrap {
    flex: 0 0 100%;
    margin: 0;
  }
  .project-nav__next {
    margin-top: -1px;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .project-nav__prev,
  .project-nav__next {
    font-size: 22px;
    padding: 30px;
  }
  .project-nav__prev::after {
    left: 10px;
  }
  .project-nav__next::after {
    right: 10px;
  }

  .inner-head__title {
    font-size: 48px;
  }
  .inner-head__tags {
    justify-content: flex-start;
  }
  .inner-head__descr {
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .project-nav__prev,
  .project-nav__next {
    font-size: 20px;
  }
  .inner-head__descr {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .inner-head__title {
    margin-bottom: 20px;
  }
  .inner-head__descr {
    font-size: 18px;
  }
  .inner-head__title {
    grid-template: 10px;
  }

  .header__logo,
  .footer__logo {
    height: 58px;
    width: 198px;
  }
  .header__wrapper {
    margin-bottom: 20px;
  }
}
